<div class="bt-block bt-menu">
    <div class="bt-logo">
        <p>{{config.name_1}}</p>
        <p>{{config.name_2}}</p>
    </div>
    <nav mat-tab-nav-bar class="bt-lg-screen">
        <a mat-tab-link *ngFor="let link of menuLinks"
           (click)="select($event, link)"
           [active]="activeLink === link"> {{ts.translate('menu.' + link)}}
        </a>
    </nav>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="bt-sm-screen">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let lnk of menuLinks"
                (click)="select($event, lnk)">
            <mat-icon>dialpad</mat-icon>
            <span>{{ts.translate('menu.' + lnk)}}</span>
        </button>
    </mat-menu>
</div>