
<div class="bt-block bt-projects" (window:resize)="onResize($event)">
    <h1>{{ts.translate('menu.projects')}}</h1>
    <mat-grid-list cols="{{colcount}}">
        <mat-grid-tile *ngFor="let pro of source">
            <div class="project-card">
                <div class="header">
                    <h2>{{pro.header}}</h2>
                    <h3>{{pro.timestamp}}</h3>
                </div>

                <div class="content">
                    <img mat-card-image src={{pro.img}} alt="{{pro.header}} img" class="project-card-image">
                    <p>
                        {{pro.text}}
                    </p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>