<div class="bt-block bt-team">
    <h1>{{ts.translate('menu.team')}}
        <span></span>
    </h1>
    <div class="bt-card-block">
        <ng-container *ngFor="let person of source">
            <div class="item">
                <h4 class="header">{{person.name}}
                </h4>
                <div>
                    <img class="image" src="{{person.img}}"/>
                    <p class="content">{{person.specializations}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>