<div class="bt-block bt-techniques">
    <h1>{{ts.translate('menu.techniques')}}
        <span></span>
    </h1>
    <!--<carousel class="bt-card-block">-->
        <!--<ng-container *ngFor="let method of source;">-->
            <!--<ng-container *carouselItem>-->
                <!--<div class="item">-->
                    <!--<h2>{{method.header}}</h2>-->
                    <!--<div>-->
                        <!--<p>{{method.text}}</p>-->
                        <!--<img src="{{method.img}}"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ng-container>-->
        <!--</ng-container>-->
    <!--</carousel>-->
    <div class="bt-card-block">
        <ng-container *ngFor="let method of source">
            <div class="item">
                <h2 class="header">{{method.header}}
                    <span>{{method.subheader}}</span>
                </h2>
                <p class="content">{{method.text}}</p>
                <img class="image" src="{{method.img}}"/>
            </div>
        </ng-container>
    </div>
</div>