<div class="bt-block bt-techniques">
    <h1>{{ts.translate('menu.techniques')}}
        <span></span>
    </h1>
    <div class="bt-card-block">
        <mat-card *ngFor="let method of source">
            <mat-card-header>
                <mat-card-title>
                    {{method.header}}
                </mat-card-title>
            </mat-card-header>
            <img src="{{method.img}}"/>
            <mat-card-content>
                <p>{{method.text}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>