<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>
<app-start id="home"></app-start>

<app-plot id="plot"></app-plot>

<!--<app-chart></app-chart>-->
<!--<app-graph id="graph"></app-graph>-->
<app-projects id="projects"></app-projects>
<app-techniques id="techniques"></app-techniques>
<app-team id="team"></app-team>
<!--<app-advisor id="advisor"></app-advisor>-->
<app-contact id="contact"></app-contact>
<app-footer  id="footer"></app-footer>
<app-gototop></app-gototop>

